@page
@model CoreBakimUygulamasi.Pages.BakimTipleri.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<h2 class="text-info">Bakim Tipi Düzenle</h2>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BakimTipi.Id" />
            <div class="form-group">
                <label asp-for="BakimTipi.BakimAdi" class="control-label"></label>
                <input asp-for="BakimTipi.BakimAdi" class="form-control" />
                <span asp-validation-for="BakimTipi.BakimAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BakimTipi.BakimFiyati" class="control-label"></label>
                <input asp-for="BakimTipi.BakimFiyati" class="form-control" />
                <span asp-validation-for="BakimTipi.BakimFiyati" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-info form-control" value="Kaydet" />
                        </div>
                        <div class="col-6">
                            <a asp-page="Index" class="btn btn-success form-control">İptal</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
       
    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
